In [ ]:
#Everything in Python is an object
#Simply put, a mutable object can be changed after it is created, and an immutable object can't.
#Objects of built-in types like (int, float, bool, str, tuple, unicode) are immutable. These use normal brackets ()
#Objects of built-in types like (list, set, dict) are mutable. Lists use square brackets [], Dicts use curly brackets{}
#Custom classes are generally mutable

In [1]:
# Assigning a string to a variable
Name = "Russell Chidyausiku"
Name

'Russell Chidyausiku'

In [6]:
#Strings are indexed from 0. In revese order the index -1 is the last character

# Print the first element in the string
print(Name[0])

#print the character at index 7 (in this case index 7 is a blank space)
print (Name[7])

#print the character at index 8
print(Name[8])

R

C

In [4]:
#show me the letter at index 0 in the string variable
Name[0]

#show me the last letterin the string variable
Name[-1]

'u'

In [8]:
# length of a string variable is given by len function

len(Name)
 
# in reverse order the negative of the len output gives you the first character at index 0
Name[-19]

'R'

In [11]:
#length of text is also given by len function even is we have not defined a variable
len("can you count this")

18

In [18]:
# le does not work for numbers best solution availble is to use len(str(number)) to convert the digit to strings
len(str(123456))

6

In [19]:

# or
len("12345678")

8

In [20]:
Name

'Russell Chidyausiku'

In [22]:
#using index numbes to slicing up sections of strings, start at the first index number and end with the one you dont want to include, remember indexes start at 0
Name[0:4]+Name[8:13]

'RussChidy'

In [23]:
Name[0:4]+Name[7:13]

'Russ Chidy'

In [24]:
#Strides -We can also input a stride value to stride or jump at regular intervals across the string. For example, with a '2' stride across the WHOLE string
Name[::2]

'RselCiyuiu'

In [25]:
#Strides -We can also input a stride value to stride or jump at regular intervals across a PORTION of the string. e.g for a 2 stride from index 8 to the end
Name[8::2]

'Ciyuiu'

In [30]:
#Strides -We can also input a stride value to stride or jump at regular intervals across a PORTION of the string.e.g in strides of 4
Name[0:17:4]

'ReCyi'

In [34]:
# Concatenate two string variables or strings
Title="(FRM)"
Name+" "+Title

'Russell Chidyausiku (FRM)'

In [35]:
#you can multiply strings
Name*3

'Russell ChidyausikuRussell ChidyausikuRussell Chidyausiku'

In [37]:
# Escape Sequences: Back slashes represent the beginning of escape sequences when using the Print function.
# Escape sequences represent strings that may be difficult to input. 
# For example, back slash "n" represents a new line. The output is given by a new line after the back slash "n" is encountered:

print("Russell\nChidyausiku")

Russell
Chidyausiku

In [38]:
#back slash "t" represents a new tab section. The output is given by a new tab section after the back slash "t" is encountered:
print("Russell\tChidyausiku")

Russell	Chidyausiku

In [39]:
#If you want to place a back slash in your string, use a double back slash:
print("Russell Chidyausiku \\FRM")

Russell Chidyausiku \FRM

In [42]:
# We can also place an "r" before the string to display the backslash. r will tell python 
# r will tell python that string will be displayed as "raw string"

print (r"Russell \FRM")

Russell \FRM

In [46]:
#printing a string variable in upper case
print(Name.upper())

RUSSELL CHIDYAUSIKU

In [48]:
#printing a string variable in lower case
print(Name.lower())

russell chidyausiku

In [61]:
#showing a string variable converted into lower case, this doesnt actually convert the stored variable since striings are immutable
Name.lower()

'russell chidyausiku'

In [54]:
# use isupper or islower to check to the caps settings of ALL characters in a string variable
# these case-checking functions do not take any arguments, and therefore will return error msgs if a parameter is passed.
#you just close the statemment with empty brackets
#2 methods can be used with outwithout using a print statement; without print below

NameUppercase="RUSSELL CHIDYAUSIKU"

NameUppercase.islower()
NameUppercase.isupper()

False
True

In [55]:
#using case-checking funtions with print
print(NameUppercase.islower())
print(NameUppercase.isupper())

False
True

In [59]:
Name

'Russell Chidyausiku'

In [60]:
#.count is used to count characters or complete words in a string
Name.count("s")

3

In [62]:
#replacing words or characters in strings
a="IBM is the best."
a

'IBM is the best.'

In [63]:
#use replace to change string components
a.replace("IBM","Xrossglobal")

'Xrossglobal is the best.'

In [64]:
a

'IBM is the best.'

In [65]:
#you can also define a new variable created through modifying components in an existing variable
b=a.replace("best","worst")

In [66]:
b

'IBM is the worst.'

In [67]:
a

'IBM is the best.'

In [68]:
#replace a substring directly
a.replace("s","z")

'IBM iz the bezt.'

In [69]:
#find a letter and return its index position
Name.find("k")

17

In [70]:
#find a word and return the first letter or characters index position
a.find("the")

7

In [71]:
# if the sub-string is not found in the string then the output is a negative 1 (-1)
a.find("hero")

-1